%%% Parallel setting
npool=10            % set number of workers in parpool

%%% folder structure
fpmdir=out          % folder to store CD results
qcdir=qc            % folder to store qc and other tmp files
valdir=val          % folder for validation data

%%% data preparation (g01)
usemask=false        % use mask with same input filename but under {inputdir}_mask folder
dolee=false          % true for additional lee filter
dosplit=false        % split image into 2x2 sub-images (memory issue)
splitsize=[2 2]      % [split_y  split_x] split image into split_y by split_x subimages
%aoi=[x1 y1 x2 y2]   % aoi for cropping
filtwin=3            % lee filter window 
%pixelres=10         % pixel posting in meter (for area calculation); usually estimated automatically; uncomment to set manually

%%% initialization (g02)
changetype=0         % change detection type; 1=Z-, 3=Z+, 0=both (default)
%         AD   BC   SR   AS    M  NIA
threshG1=[1.6 .970 .10 0.005 -1.5]
threshG3=[1.9 .980 .05 0.02   2.5 0.4]
%         BC   C1lower C1upper C2lower C2upper
dosmode=false        % to test if the histogram fits single-mode
threshG =[.80 -5      -1      1       5]  % for single mode

%%% tile growing (g03-g04)
useG2=true                 % use statistics from 2nd Gaussian. If false, use mean=0 and std=1
nthresh=2                  % [>=1] min number of connected 
expand=false               % Expand growth to more neighbors. This may take longer.
connlow=8                  % definition of connection for Z- (4:rook/8:queen)
connhigh=8                 % definition of connection for Z+ (4:rook/8:queen)
methodlow=mean             % fill method (wmean, mean, quantile, const_max, const_mean, const_med, invdist)
methodhigh=mean            % fill method (wmean, mean, quantile, const_max, const_mean, const_med, invdist)
methodlowq=0.5             % [0-1] supply this value when methodlow=quantile
methodhighq=0.5            % [0-1] supply this value when methodhigh=quantile
pcutlow=0.5                % [0-1] cut-off probability for changes w. Z-
pcuthigh=0.5               % [0-1] cut-off probability for changes w. Z+
minpatchlow=1000           % [m^2] min area for the changed patch w. Z-
minpatchhigh=1000          % [m^2] min area for the changed patch w. Z+
%lookpF=10;                 % look number for Bayesian probably (for display purpose)
%lookRk=10;                 % look number on binary change map over whick ripley coeff will be 

%%% fill statistics (g05-g06)
Rkfinallow=med             % choose the change map of Z- with the Rk level (low, med, high), default: med
Rkfinalhigh=med            % choose the change map of Z+ with the Rk level (low, med, high), default: med

%%% qc plots (g07-g09)
qlow=.05                   % the lower Rk quantile for selected plotting
qmid=.50                   % the mid Rk quantile for selected plotting
qhigh=.95                  % the higher Rk qunatile for selected plotting

%%% geospatial processing (g10-g11 suggested for landslide) 
docluster=false            % run geospatial clustering (g12)
dohandem=false             % apply handem mask (g13)
clusterdist=100            % [m] max distance btw points within a landslide cluster
clusterarea=1000           % [m^2] min area for a landslide cluster shown in the tif file
clusterlarge=10000         % [m^2] min area for a large landslide cluster (with area report)
handthresh=[20 nan]        % [m] [nan 20] means to keep values with handem>20
                           %     [20 nan] means to keep values with handem<20
                           %     [10  20] means to keep values in between
bsize=500                  % [pxl] to split images per bsizexbsize chunk for easier calculation
olratio=0.1                % overlapping ratio between splits for cluster calculation


%%% validation (g12-g13)
liathresh=45               % [deg] max local incidence angle (above which the val will be masked out)
%AOIs are separated by ";", and the format is lon1 lat1 lon2 lat2 for UL and LR corner coordinates
%valaoi=[lon1 lat1 lon2 lat2] %use ; to separate different AOIs
%valaoiID=[1]              % use the same ID number for multi-patch AOI
valtifout=false            % output the validation tiff for each aoi, [TP,FP,TN,FN]=[1 2 -1 -2]


